.header {
    background:
        linear-gradient(to bottom, #062f41, #2c5d81),
        /* Green gradient from top to bottom */
        url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIj4KICA8ZyBzdHJva2Utd2lkdGg9IjEwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1jb2xvcj0iIzAwMDAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIj48cGF0aCBkPSJNMSwwIEwgMTAsMjAgTCAwLDEwIFoiIHN0cm9rZS1kYXRhLWFuZC1hbGlnbj0iY2VudGVyIiBzdHJva2UtbGluZWNhcD0ib3Bwb3NlIiAvPjwvZy48L3N2Zz4=') repeat;
    /* Pattern overlay */
    background-size: cover;
}

/* Sticky navbar */
.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
    max-width: 100%;
    width: 200px;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
}

/* Nav-link hover effect */
.navbar-nav .nav-link {
    position: relative;
    display: inline-block;
}

.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    margin-top: 5px;
    left: 0;
    bottom: 0;
    background: #DAA520;
    transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::before {
    width: 100%;
}

/* Navbar toggler */
.navbar-toggler>i {
    font-size: 1.8rem;
    transition: transform 0.3s;
}

.navbar-toggler[aria-expanded="true"] {
    transform: rotate(360deg);
}

/* Nav-item spacing */
.navbar-nav .nav-item {
    margin-right: 20px;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0;
}

/* Nav-link and dropdown item styles */
.nav-item .nav-link,
.dropdown-menu .dropdown-item {
    font-weight: 700;
    font-size: 1.05rem;
    color: #FFD700;
    text-transform: capitalize;
    transition: all 0.3s ease;
    letter-spacing: 1px;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    color: #DAA520 !important;
}

.nav-link:active::before,
.nav-link:focus::before {
    width: 100%;
}

.dropdown-menu {
    transition: 0.1s ease;
    top: 100% !important
}

.dropdown-menu.show {
    top: 60 px;
}


/* banner start  */
.single-banner {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 15%;
    position: relative;
}

/* .feature-content  */
.feature-content {
    width: 90px;
    height: 90px;
    max-width: 200px;
    max-height: 200px;
    display: grid;
    place-items: center;
    align-content: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: all 0.5s;
}

/* Media query for screens larger than 320px */
@media (min-width: 320px) {
    .feature-content {
        width: calc(80px + (10vw - 20px));
        height: calc(80px + (10vw - 20px));
    }

    .feature-content>img {
        width: min(20px + 5vw, 85px);
    }

    .feature-content h4 {
        font-size: calc(0.75rem + 0.75 * (1vw));
    }
}

.feature-content:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

input,
input:focus {
    box-shadow: none !important;
    border: none !important;
}

.form-control {
    padding: 2rem 0 !important;
}

.btn-search {
    background: #28a745 !important;
    color: #ffffff !important;
    font-weight: bold;
}

.btn-search::before,
.btn-search:hover,
.btn-search:focus {
    background: #28a745 !important;
    box-shadow: none !important;
}

button::before,
button:hover,
button:focus {
    box-shadow: none !important;
}


/* Tasbih counter  */


.counter-container {
    position: relative;
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.counter-display {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #FFDF00;
}

.btn-tasbih-add::before,
.btn-tasbih-add:hover,
.btn-tasbih-add:focus {
    background: #28a745 !important;
}

.btn-tasbih-min {
    position: absolute !important;
    background: #0693e3 !important;
    top: 32%;
    left: 43%;
    transform: translate(50%, 50%);
}

.btn-tasbih-min::before,
.btn-tasbih-min:hover,
.btn-tasbih-min:focus {
    background: #0693e3 !important;
}

.btn-reset {
    font-size: 1rem;
    padding: 10px 20px;
    margin-top: 20px;
}

.btn-reset::before,
.btn-reset:hover,
.btn-reset:focus {
    background: #dc3545 !important;
}

/* accordion-body */
.accordion-body {
    max-height: 70vh;
    width: 100%;
    overflow-y: auto;
    padding: 15px;
    background: linear-gradient(white, white), linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-repeat: no-repeat;
    animation: max-height 1s ease-in-out;
}

.accordion-body::-webkit-scrollbar {
    width: 1rem;
}

.accordion-body::-webkit-scrollbar-thumb {
    background: #0d668d;
    border-radius: 5px;
}

.accordion-body::-webkit-scrollbar-thumb:hover {
    background: #135875;
}

/* ===== Donation =======  */

.donation {
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.payment-title {
    width: 100%;
    text-align: center;
}



.form-container {
    float: left;
    color: #707070;
    width: 100%;
    max-width: 400px;
    max-height: 251px;
    padding: 0;
}

.form-container label {
    padding-bottom: 5px;
    font-size: 13px;
    margin: 0;
}

.field-container input {
    margin-top: 3px;
    padding: 8px 15px !important;
    font-size: 1rem;
    line-height: 1.8rem;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #dcdcdc !important;
}

.ccicon {
    height: 38px;
    position: absolute;
    right: 28px;
    top: calc(50% - 3.5px);
    width: 60px;
}

/* CREDIT CARD IMAGE STYLING */

.card-container {
    float: right;
    width: 100%;
    max-width: 400px;
    max-height: 251px;
    height: 54vw;
    padding: 20px;
}

#ccsingle {
    position: absolute;
    right: 15px;
    top: 20px;
}

#ccsingle img {
    width: 100px;
    max-height: 60px;
}

.creditcard svg#cardfront,
.creditcard svg#cardback {
    width: 100%;
    -webkit-box-shadow: 1px 5px 6px 0px black;
    box-shadow: 1px 5px 6px 0px black;
    border-radius: 22px;
}

#generatecard {
    cursor: pointer;
    float: right;
    font-size: 12px;
    color: #fff;
    padding: 2px 4px;
    background-color: #909090;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/* CHANGEABLE CARD ELEMENTS */
.creditcard .lightcolor,
.creditcard .darkcolor {
    -webkit-transition: fill .5s;
    transition: fill .5s;
}

.creditcard .lightblue {
    fill: #03A9F4;
}

.creditcard .lightbluedark {
    fill: #0288D1;
}

.creditcard .red {
    fill: #ef5350;
}

.creditcard .reddark {
    fill: #d32f2f;
}

.creditcard .purple {
    fill: #ab47bc;
}

.creditcard .purpledark {
    fill: #7b1fa2;
}

.creditcard .cyan {
    fill: #26c6da;
}

.creditcard .cyandark {
    fill: #0097a7;
}

.creditcard .green {
    fill: #66bb6a;
}

.creditcard .greendark {
    fill: #388e3c;
}

.creditcard .lime {
    fill: #d4e157;
}

.creditcard .limedark {
    fill: #afb42b;
}

.creditcard .yellow {
    fill: #ffeb3b;
}

.creditcard .yellowdark {
    fill: #f9a825;
}

.creditcard .orange {
    fill: #ff9800;
}

.creditcard .orangedark {
    fill: #ef6c00;
}

.creditcard .grey {
    fill: #bdbdbd;
}

.creditcard .greydark {
    fill: #616161;
}

/* FRONT OF CARD */
#svgname {
    text-transform: uppercase;
}

#cardfront .st2 {
    fill: #FFFFFF;
}

#cardfront .st3 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
}

#cardfront .st4 {
    font-size: 54.7817px;
}

#cardfront .st5 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

#cardfront .st6 {
    font-size: 33.1112px;
}

#cardfront .st7 {
    opacity: 0.6;
    fill: #FFFFFF;
}

#cardfront .st8 {
    font-size: 24px;
}

#cardfront .st9 {
    font-size: 36.5498px;
}

#cardfront .st10 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
}

#cardfront .st11 {
    font-size: 16.1716px;
}

#cardfront .st12 {
    fill: #4C4C4C;
}

/* BACK OF CARD */
#cardback .st0 {
    fill: none;
    stroke: #0F0F0F;
    stroke-miterlimit: 10;
}

#cardback .st2 {
    fill: #111111;
}

#cardback .st3 {
    fill: #F2F2F2;
}

#cardback .st4 {
    fill: #D8D2DB;
}

#cardback .st5 {
    fill: #C4C4C4;
}

#cardback .st6 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

#cardback .st7 {
    font-size: 27px;
}

#cardback .st8 {
    opacity: 0.6;
}

#cardback .st9 {
    fill: #FFFFFF;
}

#cardback .st10 {
    font-size: 24px;
}

#cardback .st11 {
    fill: #EAEAEA;
}

#cardback .st12 {
    font-family: 'Rock Salt', cursive;
}

#cardback .st13 {
    font-size: 37.769px;
}

/* FLIP ANIMATION */
.card-container {
    perspective: 1000px;
}

.creditcard {
    width: 100%;
    max-width: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: -webkit-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    cursor: pointer;
}

.creditcard .front,
.creditcard .back {
    position: absolute;
    width: 100%;
    max-width: 400px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    color: #47525d;
}

.creditcard .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.creditcard.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}