.header {
    background:
        linear-gradient(to bottom, #062f41, #2c5d81),
        /* Green gradient from top to bottom */
        url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIj4KICA8ZyBzdHJva2Utd2lkdGg9IjEwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1jb2xvcj0iIzAwMDAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIj48cGF0aCBkPSJNMSwwIEwgMTAsMjAgTCAwLDEwIFoiIHN0cm9rZS1kYXRhLWFuZC1hbGlnbj0iY2VudGVyIiBzdHJva2UtbGluZWNhcD0ib3Bwb3NlIiAvPjwvZy48L3N2Zz4=') repeat;
    /* Pattern overlay */
    background-size: cover;
}

/* Sticky navbar */
.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
    max-width: 100%;
    width: 200px;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
}

/* Nav-link hover effect */
.navbar-nav .nav-link {
    position: relative;
    display: inline-block;
}

.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    margin-top: 5px;
    left: 0;
    bottom: 0;
    background: #DAA520;
    transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::before {
    width: 100%;
}

/* Navbar toggler */
.navbar-toggler>i {
    font-size: 1.8rem;
    transition: transform 0.3s;
}

.navbar-toggler[aria-expanded="true"] {
    transform: rotate(360deg);
}

/* Nav-item spacing */
.navbar-nav .nav-item {
    margin-right: 20px;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0;
}

/* Nav-link and dropdown item styles */
.nav-item .nav-link,
.dropdown-menu .dropdown-item {
    font-weight: 700;
    font-size: 1.05rem;
    color: #FFD700;
    text-transform: capitalize;
    transition: all 0.3s ease;
    letter-spacing: 1px;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    color: #DAA520 !important;
}

.nav-link:active::before,
.nav-link:focus::before {
    width: 100%;
}

.dropdown-menu {
    transition: 0.1s ease;
    top: 100% !important
}

.dropdown-menu.show {
    top: 60 px;
}


/* banner start  */
.single-banner {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 15%;
    position: relative;
}

.feature-content {
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;
    align-content: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: all 0.5s;
}

.feature-content img {
    width: 85px;
}

.feature-content:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

input,
input:focus {
    box-shadow: none !important;
    border: none !important;
}

.form-control {
    padding: 2rem 0 !important;
}

.btn-search {
    background: #28a745 !important;
    color: #ffffff !important;
    font-weight: bold;
}

.btn-search::before,
.btn-search:hover,
.btn-search:focus {
    background: #28a745 !important;
    box-shadow: none !important;
}

button::before,
button:hover,
button:focus {
    box-shadow: none !important;
}

/* Tasbih counter  */


.counter-container {
    position: relative;
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.counter-display {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #FFDF00;
}

.btn-tasbih-add::before,
.btn-tasbih-add:hover,
.btn-tasbih-add:focus {
    background: #28a745 !important;
}

.btn-tasbih-min {
    position: absolute !important;
    background: #0693e3 !important;
    top: 32%;
    left: 43%;
    transform: translate(50%, 50%);
}

.btn-tasbih-min::before,
.btn-tasbih-min:hover,
.btn-tasbih-min:focus {
    background: #0693e3 !important;
}

.btn-reset {
    font-size: 1rem;
    padding: 10px 20px;
    margin-top: 20px;
}

.btn-reset::before,
.btn-reset:hover,
.btn-reset:focus {
    background: #dc3545 !important;
}

/* accordion-body */
.accordion-body {
    max-height: 70vh;
    width: 100%;
    overflow-y: auto;
    padding: 15px;
    background: linear-gradient(white, white), linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-repeat: no-repeat;
    animation: max-height 1s ease-in-out;
}

.accordion-body::-webkit-scrollbar {
    width: 1rem;
}

.accordion-body::-webkit-scrollbar-thumb {
    background: #0d668d;
    border-radius: 5px;
}

.accordion-body::-webkit-scrollbar-thumb:hover {
    background: #135875;
}